<%- include('partials/header') %>
<main class="container">
  <h1>Contato</h1>
  <ul>
    <li><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/julia-da-rosa-silva-26455bb0/" target="_blank">/julia-da-rosa-silva</a></li>
    <li><strong>GitHub:</strong> <a href="https://github.com/juliaroosas" target="_blank">/juliaroosas</a></li>
    <li><strong>Email:</strong> juliadarosasilva@gmail.com</li>
  </ul>
</main>
<%- include('partials/footer') %>
