<%- include('partials/header') %>

<div class="container">
    <h1>Contato</h1>
    
    <!-- Ícones de contato -->
    <div class="contact-icons">
        <a href="https://www.linkedin.com/in/julia-da-rosa-silva-26455bb0" target="_blank" title="LinkedIn">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/juliaroosas" target="_blank" title="GitHub">
            <i class="fab fa-github"></i>
        </a>
        <a href="mailto:juliadarosasilva@gmail.com" title="Email">
            <i class="fas fa-envelope"></i>
        </a>
        <a href="https://www.instagram.com/juliaroosas/" target="_blank" title="Instagram">
            <i class="fab fa-instagram"></i>
        </a>
    </div>

    <p class="center">Entre em contato através das minhas redes sociais ou por email.</p>
</div>

<%- include('partials/footer') %>
