<%- include('partials/header') %>
<main class="container">
  <h1>Formação Acadêmica</h1>
  <ul>
    <li>Desenvolvimento de Software Multiplataforma – Fatec São José dos Campos (em andamento)</li>
    <li>Mestrado em Linguística – Unicamp (2015–2017)</li>
    <li>Licenciatura em Letras – UFLA (2011–2014)</li>
  </ul>

  <h1>Formação Complementar</h1>
  <ul>
    <li>HTML e CSS (Coder House)</li>
    <li>Escola de Inovadores – Centro Paula Souza</li>
  </ul>

  <h1>Habilidades</h1>
  <ul>
    <li>HTML, CSS, JavaScript, Node.js, Python, Flask, MySQL</li>
    <li>Canva, PowerApps, Git</li>
  </ul>
</main>
<%- include('partials/footer') %>
