<%- include('partials/header') %>
<main class="container">
  <h1>Projetos</h1>

  <article>
    <h2>Dashboard de Impacto - Projeto Helpnei (em andamento)</h2>
    <p>Projeto acadêmico que consiste no desenvolvimento de um painel para a empresa Helpnei, com indicadores como número de lojas, usuários impactados e engajamento.</p>
  </article>

  <article>
    <h2>Restaurante "A Divisa"</h2>
    <p>Projeto final de um bootcamp realizado pela Coder House, que contou com o desenvolvimento de um site de um restaurante fictício com culinária de diferentes países da América Latina.</p>
    <a href="https://adivisa.vercel.app" target="_blank">Acessar projeto</a>
  </article>

  <article>
    <h2>Consulta de Desempenho de Vereadores</h2>
    <p>Projeto acadêmico que viabilizou o desenvolvimento de uma plataforma para os eleitores de São José dos Campos buscarem dados de vereadores na eleição de 2024.</p>
    <a href="http://api-vereadores.ddns.net" target="_blank">Acessar projeto</a>
  </article>
</main>
<%- include('partials/footer') %>
