<%- include('partials/header') %>
<main class="container">
  <h1>Projetos</h1>

  <div class="projects-grid">
    <article class="project-card">
      <h2>
        <a href="#" class="project-title">Dashboard de Impacto - Projeto Helpnei</a>
        <span class="project-status">(em andamento)</span>
      </h2>
      <p>Projeto que consiste no desenvolvimento de um sistema de visualização inteligente com Dashboard de Indicadores para a plataforma Helpnei, voltado ao monitoramento em tempo real do impacto social e comercial gerado pelas ações de patrocínio.</p>
    </article>

    <article class="project-card">
      <h2>
        <a href="https://adivisa.vercel.app" target="_blank" class="project-title">Restaurante "A Divisa"</a>
      </h2>
      <p>Projeto final de um bootcamp realizado pela Coder House, que contou com o desenvolvimento de um site de um restaurante fictício com culinária de diferentes países da América Latina.</p>
    </article>

    <article class="project-card">
      <h2>
        <a href="http://api-vereadores.ddns.net" target="_blank" class="project-title">Consulta de Desempenho de Vereadores</a>
      </h2>
      <p>Projeto acadêmico que viabilizou o desenvolvimento de uma plataforma para os eleitores de São José dos Campos buscarem dados de vereadores na eleição de 2024.</p>
    </article>
  </div>
</main>
<%- include('partials/footer') %>
